/*Base*/

html {
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  position: relative;
  min-height: 100%;
  font-size: 14px;
  color: #333;
  line-height: 1.3;
  word-wrap: break-word;
  font-family: YuGothic, '游ゴシック', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
   background-color: #fafafa;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  vertical-align: middle;
  -webkit-touch-callout: none;
}
ol, ul, li { list-style: none; }
span, i { display: inline-block; }
input, textarea, button {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: inherit;
  color: inherit;
  -webkit-appearance: none;
}
header {
  width: auto;
  margin: 0 auto;
}
header h1 {
  float: left;
  margin: 5px 0 10px;
  margin-left: 30px;
}
table {
  border: 1px rgb(65, 65, 65) solid;
}
th {
  height: 30px;
  color: #fff;
  background-color: #668b8a;
}
table.menu {
  width: 90%;
  padding: 30px 20px;
  border: none;
}
table.menu tr th {
  width: 40%;
  line-height: 5em;
  color: #fff;
  background-color: #668b8a;
}
table.menu tr td {
  height: 20px;
}
table.menu tr th a {
  display: block;
  width: 100%;
  height: 100%;
}
table.menu tr th form {
  display: block;
  width: 100%;
  height: 100%;
}
table.menu tr th form button {
  display: block;
  width: 100%;
  height: 100%;
}
input.id {
  height: 30px;
}
ul.menu {
  width: 1800px;
  list-style: none outside;
}
ul.menu li a {
  display: block;
  margin: 30px;
  margin-left: 250px;
  padding: 25px;
  background-color: #668b8a;
  color: #fff;
  float: left;
  width: 500px;
  text-align: center;
}
/*Main*/

.wrapper {
  padding: 10px 10px 37px;
}
.main-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}
.main-list__item {
  margin-top: 10px;
}
.main-list__item:first-child {
  margin-top: 0;
}
.board {
  display: block;
  padding: 10px;
  border: 1px #ccc solid;
  background-color: #fff;
}
.board__title {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}
.board__date {
  font-size: 12px;
  color: #ccc;
  text-align: right;
}
.white-bg {
  padding: 10px;
  border: 1px #ccc solid;
  background-color: #fff;
}
.message__image {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  height: 70px;
  background-size: cover;
  background-position: center;
}
.massage__date {
  font-size: 10px;
  color: #ccc;
  text-align: right;
}
.board-form {
  margin: 20px 0;
  text-align: center;
}
.login-user {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-size: 12px;
  border: 1px #ccc solid;
  background-color: #fff;
}
.input {
  width: 200px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  text-indent: 3px;
  border: 1px #ccc solid;
  background-color: #fff;
}
.reg-form {
  margin-left: 30px;
}
.select {
  width: 202px;
  height: 52px;
  margin-left: -4px;
  border: 1px #ccc solid;
}
.label {
width: 120px;
height: 50px;
line-height: 50px;
text-indent: 3px;
color: #fff;
background-color: #668b8a;
border: 1px #ccc solid;
}
.btn {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: #668b8a;
  background-color: #fff;
}
.error {
  padding: 10px;
  margin: 0 10px;
  font-weight: bold;
  color: #fff;
  background-color: #F08080;
}
.submit {
  display: inline-block;
  width: 80px;
  height: 40px;
  text-decoration: none;
  color: #668b8a;
  background-color: #fff;
  border: solid 2px #668b8a;
  border-radius: 3px;
  transition: .4s;
}
.submit:hover {
  background: #668b8a;
  color: #fff;
}
.inventory-form {
  margin-left: 40px;
}
.id {
  width: 50px;
  text-align: center;
}
.cat_id {
  width: 80px;
}
.cat_cd {
  width: 100px;
  text-align: center;
}
.cat_nm {
  width: 150px;
  text-indent: 10px;
}
.jan {
  width: 150px;
  text-indent: 10px;
}
.prdct_nm {
  width: 300px;
  text-indent: 10px;
}
.price {
  width: 60px;
  text-align: right;
  padding-right: 5px;
}
.cost {
  width: 60px;
  text-align: right;
  padding-right: 5px;
}
.cost_rate {
  width: 70px;
}
.trade_num {
  width: 60px;
  text-align: right;
  padding-right: 5px;
}
.trade_date {
  width: 100px;
  text-align: center;
}
.settle_date {
  width: 100px;
}
.total_cost {
  width: 100px;
}
.total_sales {
  width: 100px;
}
.profit_loss {
  width: 100px;
}
.total_calc_cash {
  width: 100px;
}
.total_cash {
  width: 100px;
}
.excess_deficiency {
  width: 100px;
}
.before {
  display: inline-block;
  margin-left: 30px;
}
.after {
  display: inline-block;
  margin-right: 40px;
  float: right;
}
.sales_col4 {
  display: inline-block;
  width: 700px;
  border: none;
}
.sales_col4 tr th {
  border: 1px rgb(65, 65, 65) solid;
}
.sales_day__days {
  width: 105px;
}
.sales_day__sales_day {
  width: 245px;
}
.date {
  text-align: center;
}
.sales_col2 {
  display: inline-block;
  width: 500px;
  border: none;
}
.sales_col2 tr th{
  border: 1px rgb(65, 65, 65) solid;
}
.sales_week__trade_week {
  width: 200px;
}
.sales_week__sales_week {
  width: 300px;
}
.sales_month__trade_month {
  width: 200px;
}
.sales_month__sales_month {
  width: 300px;
}
.sales_year__trade_year {
  width: 200px;
}
.sales_year__sales_year {
  width: 300px;
}
.sales_trend {
  display: inline-block;
  margin-top: 30px;
  border: none;
}
.sales_trend tr th {
  border: 1px rgb(65, 65, 65) solid;
}
.sales_trend__prdct_nm {
  width: 200px;
}
.sales_trend__date {
  width: 25px;
}
.sales_trend__date_week {
  width: 150px;
}
.sales_trend__date_month {
  width: 50px;
}
.sales_trend__date_year {
  width: 70px;
}
.settlement-form {
  margin-left: 30px;
}
.settlement-form span {
  height: 30px;
  line-height: 30px;
}
.settlement-form input {
  height: 30px;
  line-height: 30px;
}
.settlement2 {
  display: inline-block;
  width: 400px;
  margin-left: 30px;
  border: none;
}
.settlement2 td {
  height: 30px;
}
.index_horizontal {
  width: 200px;
  text-align: left;
  color: #fff;
  background: #668b8a;
  border: 1px rgb(65, 65, 65) solid;
}
.value {
  width: 150px;
}
.settlement2-form {
  margin-left: 307px;
}
.count_date {
  width: 150px;
}
.invntry_num, .count_num, .dif, .stock_value, .invntry_status {
  width: 90px;
}
.search_select {
  width: 170px;
  height: 40px;
  border: 1px #ccc solid;
}
.search_item {
  text-align: left;
}
.search_input {
  width: 140px;
  height: 40px;
  border: 1px #ccc solid;
  background-color: #fff;
}
.search_option {
  text-align: right;
}
.unit_price {
  height: 50px;
  line-height: 50px;
  text-align: right;
  border: 1px #ccc solid;
  background-color: #fff;
}
.arrvl_cost {
  height: 50px;
  line-height: 50px;
  text-align: right;
  border: 1px #ccc solid;
  background-color: #fff;
}
.arrvl_reg0-form {
  display: inline-block;
  margin-left: 40px;
}
.arrvl_reg-form button {
  margin-left: 40px;
}
.invntry_settlement {
  width: 200px;
  height: 20px;
  text-align: right;
}
.search_trend {
  text-align: center;
}
.index_trend_search {
  text-align: center;
  color: #fff;
  background: #668b8a;
  border: 1px rgb(65, 65, 65) solid;
}
#global_navi {
  width: auto;
  clear: both;
  overflow: hidden;
  margin: 16px auto;
}
#global_navi ul li {
  width: 19%;
  float: left;
  margin-right: 1px;
  text-align: center;
}
#global_navi ul li a {
  display: block;
  padding: 16px;
  background-color: #352b23;
  color: #fff;
  text-decoration: none;
}
#global_navi ul li.current a {
  background-color: #b7a077;
}
#global_navi ul li a:hover {
  background-color: #8c7a5b;
}
#breadcrumb { font-size: smaller; }
#breadcrumb ol li { display: inline; }
#breadcrumb ol li::after {
  content: ">";
  padding-left: 7px;
}
#breadcrumb ol li:last-child::after { content: none; }
#switch {
  width: 70%;
  margin-left: 20%;
}
#switch ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
#switch ul li {
  display: inline;
  margin-left: 10px;
  text-align: center;
}
#switch ul li a {
  display: inline-block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #9fb083;
}
#sales {
  text-align: center;
}
#ca_pr_switch {
  margin-left: 30px;
}
#ca_pr_switch a {
  display: inline-block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #9fb083;
}
#main {
  width: 980px;
  float: left;
  margin-left: 30px;
}
#change-form {
  margin-top: 10px;
}
#search {
  float: left;
  width: 180px;
  height: 800px;
  margin-left: 40px;
  background-color: rgb(236, 236, 236);
}
#search table {
  border: none;
}
#serch_input {
  width: 170px;
  height: 30px;
  border: 1px rgb(65, 65, 65) solid;
  background-color: #fff;
}
#index_category {
  width: 200px;
}
#index_product {
  width: 200px;
}
#index_trade_num {
  width: 200px;
}
#index_unit_price {
  width: 100px;
}
#index_cost {
  width: 100px;
}
#index_button {
  width: 100px;
}
#arrival {
  margin-left: 40px;
}
#total_amount {
  width: 200px;
  text-align: right;
  line-height: 50px;
  border: 1px #ccc solid;
  background-color: #fff;
}
#total_label {
  margin-left: 190px;
}
#delete_reg {
  margin-top: 20px;
  margin-left: 30px;
}
#delete_label {
  margin-left: 30px;
}
#search_table {
  display: inline-block;
}
#sales_reg-form {
  margin-left: 40px;
}